.b-list {
  background-color: #ebf5f0;
}

.b-list__item {
  padding: 15px;
  border: solid 1px #ccc;
}

.b-list__link {
  text-decoration: none;
  color: #000;
}

.b-list__identifier {
  font-weight: bold;
  margin-right: 10px;
}